<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css" type="text/css">
    <title>Gear Maker</title>
</head>
<body>
    <div id="navigation-header"></div>
    <div id="body">
        <div id="parameters">

        </div>
        <div id="render-container">
            <canvas id="scene-canvas">

            </canvas>
        </div>
    </div>
    <div id="export-options"></div>
</body>
</html>